h1 { font-family: Amaranth, sans-serif; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 72px;
}

h2 {
    font-family: Amaranth; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 54px;
}

p { font-family: Amaranth, sans-serif; 
    font-size: 22px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 28.6px;
    display: inline;
    position: relative;
}

a { font-family: Amaranth, sans-serif; 
    font-size: 22px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 28.6px;
    color: black;  
}

.container {
    display: inline;
    
}

div.box-bot {
    background-color: #aeaeae;
    padding: 10px;
}

div.box-top {
    background-color: #ccbcac;
    padding: 10px;
}

.photo-box {
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 200px;
    height: 230px;
    border-radius: 25px;
}

.text-box{
    margin: 10px;
    margin-right: 100px;
    display: inline-block;
}

.box-kontak {
    padding: 5px;
}

.box-logo a:link, a:visited {
    height: 50px;
    width: 250px;
    margin-top: 10px;
    margin-left: 50px;
    display: block;
    background-color: #aeaeae;
}

.box-logo a:hover, a:active {
    transform: scale(1.1);
    background-color: #7d7d7d;
    color: black;
    font-style: normal;
}

.box-logo-steam a:link, a:visited {
    height: 50px;
    width: 550px;
    margin-top: 10px;
    margin-left: 50px;
    display: block;
    background-color: #aeaeae;
}

.box-logo-steam a:hover, a:active {
    transform: scale(1.1);
    background-color: #7d7d7d;
    color: black;
    font-style: normal;
}


